<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <br />
<a routerLink = "new-cmp">New component</a>
<br />
<a routerLink = "new-cmp-2">New component 2</a>
<br/>
<a routerLink = "mod-1-cmp">Module 1 component</a>
<br/>
<a routerLink = "mod-2-cmp">Module 2 component </a>
<br/>
<router-outlet></router-outlet>  -->

<br/>
<br/>

<!-- <ul class="list-group">  
  <li  
    *ngFor="let post of posts"   
    class="list-group-item">  
    <button   
      (click)="updatePost(post)"  
      class="btn btn-default btn-sm">Update</button>  
    {{ post.title }}  
    <button   
      (click)="deletePost(post)"  
      class="btn btn-danger btn-sm pull-right">Delete</button>  
  </li>  
</ul> -->